$azul: #110e3c;
$vino: #7a3457;
$piel: #9f6b73;
$rosa: #b3185e;
$blanco: #ffffff;
$negro: #000000;
$negro-clarito: #1c1a22;
$negro-mclarito: #504c5a;

$fuente : 'KoHo', sans-serif;
$fuente2 : 'Montserrat', sans-serif;